@{
    ViewBag.Title = "World Merchants Home Page";
}

<div class="jumbotron">
    <center>
        <h1>World Merchants</h1>
    </center>
        <p class="lead">...an items collection game where each player <br />seeks to get the best items so that they can get the best score.</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get Started!</h2>
        <p>
            Create an account and log in so that you can get started on your journey of hoarding.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Questions or problems?</h2>
        <p>Don't panic! But for right now you are on your own.</p>
    </div>
</div>