@model WorldMerchants.Models.Player

@{
    ViewBag.Title = "Players";
}

<h2>Players</h2> <br />

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>@Model.Name</td>
    </tr>
 

    </table>
