@model IEnumerable<WorldMerchants.Models.Player>

@{
    ViewBag.Title = "Players";
}

<h2>Players</h2> <br />

    <div>
        @foreach (var player in Model)
    {
            @Html.DisplayFor(modelItem => player.Name)
            <br />
    }
    </div>
